/* Quick Settings*/
.quick-settings {
    background-color: transparent;
    background-image:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) !important; /* Light Tarnsparent */
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 48px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: white !important;
}

/* Inside Menu */
.quick-settings-grid {
    background-color: transparent !important;
}
.quick-settings-grid .child {
    background-color: rgba(255, 255, 255, 0.05) !important;
    border-radius: 48px;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.wuick-settings-grid .child:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}
    /* Active Buttons */
.quick-settings-grid .child:checked {
    background-color: rgba(255, 255, 255, 0.6) !important; 

}